:root {
    --theme-core: rgb(59, 61, 180);
    --theme-secondary: rgb(175, 65, 175);
    --theme-accent: rgb(241, 100, 119);

}

* {
    /* border: 1px solid gray; */
}


nav {
    /* background-color: var(--theme-secondary); */
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
}
div.mobile-frame {
    grid-column: 2/3;
    margin-top: 4vw;
    width: 810px;
    height: 1112px;
    overflow: auto;
    outline: 12px solid black;
    border: 5px solid rgb(73, 73, 73);
    border-radius: 16px;
    display: grid;
    grid-template-rows: [top] minmax(auto, 0.5fr) [card-start] 2.75fr [card-end] 1fr;
}
header {
    justify-items: center;
}
main {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: rgb(253, 222, 236);
    justify-items: center;
    align-content: center;
}
div#card-wrapper {
    min-height: 93%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}
article.card {
    border: 2px solid black;
    border-radius: 6px;
    height: 260px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

    p:first-child {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.25;
        padding-bottom: 0.6rem;
    }
    p:nth-child(2) {
        font-size: 1.4rem;
        font-weight: 600;
    }
    p:nth-child(3) {
        font-size: 0.9rem;
        font-weight: 400;
    }
    p.note {
        opacity: 0;
        position: relative;
        right: -75px;
        color: #3f3f3f;
        margin-top: auto;
        transition: 0.2s ease;
    }
    p:last-child {
        margin-top: auto;
    }
    p.not-read {
        color: red;
    }
    transition: transform 0.4s ease-in-out;
}

.card:hover, .card:active, .card:focus {
        transform: scale(1.2);
        p.note {
            position: relative;
            right: 0;
            opacity: 1;
            transition: 0.2s ease;
        }
    }

#card-wrapper.toggle-notes article.card p.note {
    position: relative;
    right: 0;
    opacity: 1;
}

#page-wrapper {
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    #previous {
        transform: rotate(180deg);
    }
    #pageNumber {
        margin: 0px 14px;
        font-size: 1.2rem;
    }
    img {
        height: 25px;
        width: 25px;
    }
}

button#toggle-notes {
    position: absolute;
    left: 66%;
    background-color: var(--theme-accent);
    color: #FFF;
    border-style: none;
    border-radius: 8px;
    padding: 2px 14px;
}

section#bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.15fr 0.75fr 1.25fr;
}

#bottom-left {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bottom-left button {
    background-color: var(--theme-accent);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 1.7rem;
    max-width: 15ch;
    border: 0px;
    border-radius: 20px;
    flex: 0 auto;
    
}
.add-drawer {
    justify-items: center;
    align-self: center;
    width: auto;
    ::marker {
       content: "";
    }
    p {
        color: #FFF;
        padding: 20px;
        font-size: 2.25rem;
        background-color: var(--theme-accent);
        border-radius: 16px;
    }
    span:nth-child(2){
       display: none;
    }
    grid-column: -2/-1;
    padding: 10px;
    background-color: white;
    input {
        border-radius: 12px;
        display: block;
    }
}
.add-drawer::details-content {
    height: 0;
    overflow: clip;
}

[open]::details-content {
    height: auto;
    transition: 0.5s ease;
}

details[open] {
    p {
        display: inline-block;
        font-size: 1.25rem;
        padding: 5px;
        width: 34ch;
        text-align: center;
        opacity: 100%;
        transition: 0.2s;
    }
    span:first-child {
        display: none;
    }
    span:nth-child(2) {
        display: inline-block;
    }
}

.add-drawer form {
    padding: 10px;
    input {
        margin: 5px;
    }
    input#pages {
        padding: 4px;
        width: 4rem;
        text-align: center;
    }
    input#pages {
        display: inline-block
    }
    input#read {
        display: inline-block;
    }
    label[for="note"] {
        display: block;
    }
    input#note {
        display: block;
    }
    button {
        background-color: var(--theme-accent);
        border-style: none;
        border-radius: 14px;
        font-size: 1.25rem;
        color: white;
        padding: 5px;
        margin: 15px 10px;
        width: 15ch;
    }
    div#midform {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: 1fr;
        text-align: left;
        margin-top: 5px;
        p {
            padding-left: 0;
            
            font-size: 1rem;
            background-color: #ffffff00;
            color: black;
            width: fit-content;
            text-align: left;
        }
        div#readsection {
            display: grid;
            grid-template-columns: min-content min-content min-content;
            grid-template-rows: 1fr 1fr;
            p#read-label {
                grid-row: span 2;
            }
        }
    }
}