:root {
    --theme-core: rgb(59, 61, 180);
    --theme-secondary: rgb(175, 65, 175);
    --theme-accent: rgb(241, 100, 119);

}

* {
    /* border: 1px solid gray; */
}


nav {
    /* background-color: var(--theme-secondary); */
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
}
div.mobile-frame {
    grid-column: 2/3;
    margin-top: 4vw;
    width: 810px;
    height: 1112px;
    overflow: auto;
    outline: 12px solid black;
    border: 5px solid rgb(73, 73, 73);
    border-radius: 16px;
    display: grid;
    grid-template-rows: [top] minmax(auto, 0.5fr) [card-start] 2.75fr [card-end] 1fr;
}
header {
    justify-items: center;
}
main {
    background-color: rgb(253, 222, 236);
    justify-items: center;
    align-content: center;
}
div#card-wrapper {
    min-height: 93%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}
article.card {
    border: 2px solid black;
    border-radius: 6px;
    height: 275px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

    p:first-child {
        font-size: 2rem;
        font-weight: 800;
    }
    p:nth-child(2) {
        font-size: 1.4rem;
        font-weight: 600;
    }
    p:nth-child(3) {
        font-size: 0.9rem;
        font-weight: 400;
    }
    p:last-child {
        margin-top: auto;
    }
    p.not-read {
        color: red;
    }
    transition: transform 0.4s ease-in-out;
}

.card:hover, .card:active {
        transform: scale(1.4);
    }

#page-wrapper {
    height:fit-content;
}

section#bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.4fr 1fr 1.25fr;
}

#bottom-left {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}
#bottom-left button {
    background-color: var(--theme-accent);
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 1.7rem;
    max-width: 10ch;
    min-height: content;
    border: 0px;
    border-radius: 20px;
    flex: 0 auto;
}
.add-drawer {
    grid-column: -2/-1;
    padding: 10px;
    background-color: white;
    p {
        display: inline-block;
    }

    input {
        border-radius: 12px;
        display: block;
    } 
}
/* details[open] {
    position: relative;
    scale: 1.5;
    transition: scale 0.5s;
    right: 100px;
    bottom: 100px;
} */