:root {
    --theme-core: rgb(59, 61, 180);
    --theme-secondary: rgb(175, 65, 175);
    --theme-accent: rgb(241, 100, 119);
    --input-bg: #cecece41;
    --header-font: Cousine, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

}

@font-face {
    font-family: 'Cousine';
    src: url('Cousine-BoldItalic.woff2') format('woff2'),
        url('Cousine-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cousine';
    src: url('./fonts/Cousine-Italic.woff2') format('woff2'),
        url('./fonts/Cousine-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cousine';
    src: url('./fonts/Cousine-Bold.woff2') format('woff2'),
        url('./fonts/Cousine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cousine';
    src: url('./fonts/Cousine-Regular.woff2') format('woff2'),
        url('./fonts/Cousine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    height: 100vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
}
div.mobile-frame {
    grid-column: 2/3;
    margin-top: 4vw;
    width: 810px;
    height: 1112px;
    overflow: auto;
    outline: 12px solid black;
    border: 5px solid rgb(73, 73, 73);
    border-radius: 16px;
    display: grid;
    grid-template-rows: [top] minmax(auto, 0.5fr) [card-start] 2.75fr [card-end] 1fr;
    
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: var(--header-font);
    font-size: 3rem;
    font-weight: 1000;
    letter-spacing: 0.15ch;
    margin-top: 0.5rem;
    padding: 0px 12px;
    border-radius: 8px;
    background: #9efff4;
    background: linear-gradient(90deg, rgba(119, 255, 203, 0.685) 65%, rgba(255, 255, 255, 1) 100%);
}
header .search-wrapper {
    width: 34ch;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
header img#search-icon {
    position: absolute;
    height: 2ch;
    min-width: 2ch;
    padding-left: 1ch;
}
header #searchbar {
    padding: 0.4ch 1ch 0.4ch 4ch;
    width: 100%;
    border-radius: 12px;
    background-color: var(--input-bg);
    border: 1.8px solid #64646450;
}

input#searchbar:active, input#searchbar:focus {
    border-color: #00000069;
}
input#searchbar:focus-visible {
    outline: 1px solid #4a47ff46;
}
main {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: rgb(253, 222, 236);
    border-radius: 24px;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 3px 10px 2px #00000031;
}
div#card-wrapper {
    padding: 0 4rem;
    min-height: 93%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.7rem;
    justify-items: center;
    align-items: center;
}
article.card {
    border: 2px solid #00000013;
    box-shadow: 3px 3px 9px 0px #0000005d;
    border-radius: 6px;
    height: 260px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: var(--header-font);
    letter-spacing: -1.4px;

    p:first-child {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.25;
        padding-bottom: 0.1rem;
    }
    p:nth-child(2) {
        color: #000000a8;
        font-size: 1.2rem;
        font-weight: 450;
    }
    p:nth-child(3) {
        color: #1f1f1fb7;        
        font-size: 0.9rem;
        font-weight: normal;
    }
    p.note {
        font-size: 1rem;
        max-width: 100%;
        max-height: 50%;
        overflow: auto;
        opacity: 0;
        position: relative;
        right: -75px;
        color: #3f3f3f;
        margin-top: auto;
        transition: 0.2s ease;
        scrollbar-width: thin;
        scrollbar-color: #ffffffc5 #00000028;
    }
    p:last-child {
        margin-top: auto;
    }
    p.read {
        color: #000;
    }
    p.notRead {
        color: #c91c47;
    }
    transition: transform 0.4s ease-in-out;
}

.book-div {
    transition: transform 0.4s ease-in-out;
    z-index: 2;
}
.book-div:hover, .book-div:active, .book-div:focus {
        transform: scale(1.2);
        z-index: 3;
        p.note {
            position: relative;
            right: 0;
            opacity: 1;
            transition: 0.2s ease;
        }
        div.edit {
            display: flex;
            flex-direction: column;
        }
    }

#card-wrapper.toggle-notes article.card p.note {
    position: relative;
    right: 0;
    opacity: 1;
}
div.book-div {
   display: flex;
   gap: 3px;
}
div.edit {
    display: none;
    position: absolute;
    right: 0;
    padding: 5px;
    gap: 2px;
    button {
        color: white;
        background-color: #0000003b;
        font-size: 0.8rem;
        border-radius: 8px;
        border: 0 solid #afafaf;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button.read {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button img {
        height: 18px;
        min-width: 18px;
    }
    button:hover img {
        height: 19px;
        min-width: 19px;
    }
    button.delete img {
        height: 13px;
        min-width: 13px;
    }
    button:hover.delete img {
        height: 15px;
        min-width: 15px;
    }
    button:hover {
        background-color: #cccccc0e;
        border: 2px solid #ffffff59;
    }
    button:active {
        border-radius: 40%;
        background-color: #ffffff52;
        transition: 0.25s;
    }
    button.delete:hover {
        border-color: #ff000041;
    }

}

#page-wrapper {
    height:fit-content;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    margin: 6px;
    #previous {
        transform: rotate(180deg);
    }
    div#number-wrapper {
        grid-column: 2/3;
        display: flex;
        flex-direction: row;
    }
    #pageNumber {
        padding-top: 1px;
        margin: 0px 14px;
        font-size: 1.2rem;
    }
    img {
        height: 25px;
        width: 25px;
    }
}
button#toggle-notes {
    grid-column: -1/-2;
    background-color: var(--theme-accent);
    color: #FFF;
    border-style: none;
    border-radius: 8px;
    padding: 2px 14px;
    z-index: 0;
}

section#bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.15fr 0.75fr 1.25fr;
    button {
        transition: 0.3s;
    }
    button:active {
        position: relative;
        top: 2px;
        left: 2px;
        box-shadow: 0px 0px 9px 4px #ff8df9de;
        transition: 0.25s;
    }
}

#bottom-left {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bottom-left button {
    background-color: var(--theme-accent);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 1.7rem;
    max-width: 15ch;
    border: 0px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px 0px #00000063;
    flex: 0 auto;
    
}
.add-drawer {
    justify-items: center;
    align-self: center;
    width: auto;
    ::marker {
       content: "";
    }
    p {
        color: #FFF;
        padding: 20px;
        font-size: 2.25rem;
        background-color: var(--theme-accent);
        border-radius: 16px;
    }
    summary > p, button#create {
        box-shadow: 3px 3px 7px 0px #00000063;
    }
    span:nth-child(2){
       display: none;
    }
    grid-column: -2/-1;
    padding: 10px;
    /* background-color: white; */
    input {
        border-radius: 8px;
        display: block;
    }
}
.add-drawer::details-content {
    height: 0;
    overflow: clip;
}

[open]::details-content {
    height: auto;
    transition: 0.5s ease;
}

details[open] {
    p {
        display: inline-block;
        font-size: 1.25rem;
        padding: 0 5px;
        width: 34ch;
        text-align: center;
        opacity: 100%;
        transition: 0.2s;
    }
    span:first-child {
        display: none;
    }
    span:nth-child(2) {
        display: inline-block;
    }
}

.add-drawer form {
    input {
        margin: 5px;
    }
    input#pages {
        padding: 4px;
        width: 4rem;
        text-align: center;
    }
    input#pages {
        display: inline-block
    }
    input#read {
        display: inline-block;
    }
    p#read-label {
        padding-right: 0;
    }
    label[for="note"] {
        display: block;
    }
    input#note {
        display: block;
    }
    button {
        background-color: var(--theme-accent);
        border-style: none;
        border-radius: 14px;
        font-size: 1.25rem;
        color: white;
        padding: 5px;
        margin: 15px 10px 5px;
        width: 15ch;
    }
    button#create:active {
        box-shadow: 0px 1px 9px 5px #4acc609f;
    }
    div#midform {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: 1fr;
        text-align: left;
        margin-top: 5px;
        p {
            padding-left: 0;
            
            font-size: 1rem;
            background-color: #ffffff00;
            color: black;
            width: fit-content;
            text-align: left;
        }
        div#readsection {
            display: grid;
            grid-template-columns: min-content min-content min-content;
            grid-template-rows: 1fr 1fr;
            p#read-label {
                grid-row: span 2;
            }
        }
    }
}

form#bookform {
    input {
        background-color: var(--input-bg);
        border: 1px solid rgba(131, 131, 131, 0.349);
    }
    input:user-valid {
        outline: 1.5px solid rgba(0, 255, 34, 0.329);
    }
    input#note:user-valid {
        outline: none;
    }
    input:user-invalid {
        outline: 1px solid #ff238a7e;
    }
    input:focus {
        outline: 1px solid rgba(0, 0, 0, 0.541);
    }
}

button, summary p span, div#pageNumber {
    font-family: var(--header-font);
}

/* Firefox details element fix */
@-moz-document url-prefix() {
    details {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    details summary p {
        width: max-content;
    }

    details form {
        height: 0px;
    }

    details[open] form {
        height: min-content;
    }
}